<div class="main_container">
  <div>
    <section class="main_container-header">
      <div class="main_container-header--img">
          <img src="../assets/LOGO GDA INGENIERIA.PNG" alt="lOGO">
      </div>
      <div class="main_container-header--text">
          <p>Brindamos tranquilidad para que se enfoque en operar su negocio sabiendo que sus activos se encuentran en
              buenas
              manos.</p>
      </div>
    </section>
    
    <section class="main_container-body">
      <div class="main_container-body--text">
        <p>En GDA Ingeniería nuestro propósito es elevar el nivel de confiabilidad y disponibilidad de sus activos por medio
          de nuestras buenas prácticas de mantenimientos preventivos. Los 30 años de experiencia en el mercado nos permiten
          ofrecer las mejores soluciones para reparar y fabricar partes y repuestos y/o atender eventos correctivos cuando
          sea necesario. También, apoyar en la ejecución de proyectos para mejoras, re-manufacturas y automatización de
          procesos industriales.</p>
      </div>
      <div>
        <app-form></app-form>
      </div>
    </section>
  </div>

  <section class="main_container-footer">
    <p>carrera 45 # 14 36
      Medellin
      Info@gdaingenieria.com
      Cel 3217000214</p>
  </section>
</div>
